// @font-face {
//   font-family: 'Pretendard';
//   src: url('myfont.woff2') format('woff2');
// }

$weightPretendard: (
  'Regular': 400,
  'SemiBold': 600
);

@each $fontName, $fontWeight in $weightPretendard {
  @include font-face(
    'Pretendard',
    '../../assets/font/Pretendard-#{$fontName}.woff2',
    $fontWeight,
    null,
    woff2
  );
}

@font-face {
  font-family: 'KBFG';
  src: url('../../assets/font/KBFGTextL.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'KBFG';
  src: url('../../assets/font/KBFGTextB.woff2') format('woff2');
  font-weight: 700;
}
