.font-weight-semibold {
  @include fontWeight(semibold);
}

.color-ccc {
  color: rgba(var(--color-ccc), var(--v-high-emphasis-opacity));
}
.color-red {
  color: #eb5147 !important;
}

.color-blue {
  color: #3f86f1 !important;
}
.text-container {
  padding: toRem(16);
}

.modal-text-container {
  color: #444;
  padding-bottom: toRem(28);
  &.v-sheet {
    color: #444;
  }
}
.table-default {
  border-top: 1px solid #26282c;
  .btn-input-submit {
    margin-left: toRem(16);
  }
  &.v-table {
    .v-table__wrapper {
      table {
        tbody {
          tr {
            &:not(:last-child) {
              th,
              td {
                border-bottom: 1px solid rgba(238, 238, 238, 1);
              }
            }
            th,
            td {
              padding: toRem(13) 0;
              vertical-align: middle;
              font-weight: normal;
            }
            th {
              color: #666;
              white-space: nowrap;
              font-size: toRem(14);
              width: $thWidth;
            }
            td {
              padding-left: toRem(16);
              color: #26282c;
              overflow-wrap: anywhere;
            }
          }
        }
      }
    }
  }
}

.v-btn {
  &.v-btn--density-default {
    .v-btn__overlay {
      background: inherit;
    }
    &.btn-setting {
      padding-left: 0;
      padding-right: 0;
      height: auto;
      .v-btn__content {
        font-size: toRem(16);
        @include fontWeight(light);
      }
      .v-btn__prepend {
        margin-right: toRem(4);
        font-size: toRem(12.5);
      }
    }
    &.text-decoration-underline,
    &.text-btn {
      color: #3f86f1;
      padding: 0;
      min-width: auto;
      height: auto;
      @include fontWeight(noraml);
    }
  }
  &.btn-outline {
    font-size: toRem(15);
    border-radius: toRem(8);
    border-color: #aaa;
    color: #666;
    .v-btn__content {
      @include fontWeight(light);
    }
    &.v-btn--disabled {
      opacity: 1;
      border-color: #aaa;
      color: #aaa;
    }
  }
  &.btn-icon {
    &.v-btn--density-default {
      height: auto;
      color: #222;
      @include fontWeight(light);
    }
    .v-btn__content {
      font-size: toRem(16);
    }
    .v-btn__prepend {
      margin-right: toRem(4);
    }
  }

  &.v-btn--size-default {
    &.btn-input-submit {
      min-width: auto;
      height: auto;
      min-height: toRem(32);
      padding: 0 toRem(12);
      color: #0066ff !important;
      font-size: toRem(13);
      border-radius: toRem(8);
      .v-btn__underlay {
        opacity: 1;
        background: #f2f4f6;
      }
      &.v-btn--disabled {
        opacity: 1;
        color: #aaa !important;
        .v-btn__underlay {
          opacity: 1;
        }
      }
      .v-btn__content {
        z-index: 1;
      }
    }
  }
}

.btn-submit-area {
  padding-top: toRem(23);
}

.flex-middle-xy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ico-withdrawal::before {
  content: '';
  width: toRem(16);
  height: toRem(16);
  @include bgimg(ico-withdrawal);
  background-position: center center;
}

.v-toolbar-title {
  &.modal-title {
    @include fontWeight(bold);
    color: #222;
    font-family: var(--font-secondary);
    font-size: toRem(20);
  }
}

.v-btn--variant-text {
  &.btn-yellow {
    $button-background: #ffd633;
    font-size: toRem(16);
    font-family: var(--font-secondary);
    background-color: $button-background;
    @include fontWeight(bold);
  }
}

.v-field:has(input:placeholder-shown),
.v-field:has(input:read-only),
.v-field:has(input:not(:read-only):valid) {
  .v-field__clearable {
    display: none;
  }
}

.v-field:has(input:not(:read-only)):hover,
.v-field:has(input:not(:read-only)):focus-within
/*.v-field:has(input:invalid)*/ {
  .v-field__clearable {
    display: flex;
    opacity: 1;
  }
}

.textfield-area {
  &.autocomplete {
    .textfield-default {
      .v-field__append-inner {
        align-self: flex-end;
        padding-bottom: toRem(15);
      }
      &.v-input--error {
        .v-input__control {
          .v-field__outline {
            border-color: #eb5147 !important;
          }
        }

        .v-input__details {
          .v-messages {
            color: #eb5147 !important;
            &::before {
              color: #eb5147 !important;
            }
          }
        }
      }
    }
    // .v-input__append {
    //   align-items: flex-end;
    //   margin-inline-start: 0;
    //   padding-inline: toRem(16);
    //   padding-bottom: toRem(16);
    //   border-radius: 0 toRem(16) toRem(16) 0;
    //   border: 1px solid #ccc;
    //   border-left: none;
    // }
    // .v-field--appended {
    //   padding-inline-end: 0;
    // }
    .v-input__control {
      .v-field--variant-outlined {
        // .v-field__outline {
        //   border-right: 0 !important;
        //   border-radius: toRem(16) 0 0 toRem(16);
        // }
        .v-field__field {
          .v-field__input {
            justify-content: flex-end;
            padding-bottom: toRem(16);
          }
        }
        .v-field__clearable {
          margin-inline-end: 0;
        }
      }
    }

    .v-input--error {
      .v-input__append {
        border: 1px solid #eb5147;
        border-left: none;
      }
    }

    .v-combobox--single {
      .v-field--variant-outlined {
        input {
          top: auto;
          transform: none;
        }
      }
    }
  }

  input {
    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-transition: background-color 9999s ease-out;
      -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    }
  }
}

.v-menu {
  .v-overlay__content {
    &.v-combobox__content {
      box-shadow: none;
      .v-list {
        background-color: #f8f8f8;
        box-shadow: none;
        .v-list-item-title {
          color: #666;
        }
      }
    }
  }
}

.section-py32 {
  & + .section-py32 {
    padding-top: toRem(32);
  }
}

.v-list {
  &.list-number {
    padding: 0;
    .v-list-item--density-default {
      &:not(.v-list-item--nav) {
        &.list-number-item {
          padding: toRem(12) 0 toRem(20);
          min-height: auto;
          .v-list-item-title {
            @include fontWeight(semibold);
          }
        }
      }
    }
    .v-card-text {
      &.list-number-text {
        display: flex;
        padding: toRem(12) 0 0;
        color: #444;
        font-size: toRem(16);
        .number {
          padding-right: toRem(8);
        }
      }
    }
  }

  &.list-select-button {
    padding: 0;
    border-top: 1px solid #666;

    .v-list-item--density-default {
      &:not(.v-list-item--nav) {
        &.list-select-button-item {
          padding: toRem(20) 0;
          border-bottom: 1px solid #eee;
          min-height: auto;
          .v-list-item-title {
            @include fontWeight(semibold);
          }
        }
      }
    }
    button.list-select-button-item {
      width: 100%;
      text-align: left;
    }
  }

  &.list-round-box {
    padding-top: 0;
    padding-bottom: 0;
    & + .list-round-box {
      padding-top: toRem(32);
    }
    .v-list-subheader {
      align-items: flex-start;
      min-height: auto;
      padding-inline-start: 0 !important;
      padding-inline-end: 0;
      padding-bottom: toRem(12);
      font-size: toRem(18);
      @include fontWeight(semibold);
    }

    .v-list-item--density-default {
      &.v-list-item {
        padding-top: toRem(16);
        padding-bottom: toRem(16);
      }
      &:not(.v-list-item--nav) {
        &.v-list-item {
          padding-inline-start: 0;
          padding-inline-end: 0;
        }
      }
    }

    .v-list-item {
      & + .v-list-item {
        border-top: toRem(1) solid #eee;
      }

      .v-list-item__append {
        display: block;
        align-self: flex-start;
        padding-left: 10px;
      }

      .v-list-item-title {
        @include fontWeight(semibold);
      }

      .v-list-item-subtitle {
        font-size: toRem(14);
        color: #666;
      }
    }

    .round-box-container {
      padding: 0 toRem(16);
      border-radius: toRem(16);
      border: 1px solid #eee;
      display: flex;
      flex-direction: column;
    }
    &.align-center {
      .v-list-item__append {
        align-self: center;
      }
    }
  }

  &.icon-list {
    padding: 0 0 toRem(34) 0;
    .v-list-item {
      &.icon-list-item {
        padding: toRem(28) 0 0 0;
        .v-list-item-title {
          @include fontWeight(semibold);
        }
        .v-list-item-subtitle {
          font-size: toRem(14);
          color: #666;
        }
      }
    }
  }

  &.list-reference {
    background-color: transparent;
    padding: 0;
    .v-list-item--density-default {
      &:not(.v-list-item--nav) {
        &.v-list-item--one-line {
          &.list-reference-item {
            position: relative;
            padding: 0 0 0 toRem(9);
            color: #666;
            font-size: toRem(13);
            &::before {
              content: '*';
              position: absolute;
              // width: toRem(20);
              text-align: center;
              left: 0;
              top: 0;
            }
            & + .list-reference-item {
              margin-top: toRem(8);
            }
          }
        }
      }
    }
  }
}

button.list-round-box-items {
  text-align: left;
}

.section-divider {
  margin-inline: $contentsPaddingN;
  margin-block: toRem(32);
}

.v-dialog {
  &.modal-dialog {
    .modal-body {
      padding: toRem(32) toRem(24);
    }
    .v-card-actions {
      padding: 0 toRem(24) toRem(24);
    }
    .v-card-actions {
      button,
      a {
        flex: 1 1 auto;
        font-size: toRem(14);
        @include fontWeight(bold);
        font-family: var(--font-secondary);
        border-radius: toRem(8);
      }
      .btn-cancel {
        border-color: #222;
      }
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.isFixed {
  position: fixed;
  left: 0;
  top: var(--v-layout-top);
  width: 100%;
  z-index: 10;
  background-color: #fff;
  animation: fadeInDown 0.25s ease;
  .tab-line.tab-fixed {
    margin-inline-start: 0;
  }
}

.v-card {
  &.card-yellow {
    border-radius: toRem(16);
    padding: toRem(20);

    .v-card-item {
      padding: 0;
    }

    .v-card-text {
      padding: 0;
    }
    .v-btn--variant-text {
      &.link-defalut {
        padding: 0;
        font-size: toRem(18);
        justify-content: flex-start;
        --v-theme-overlay-multiplier: 0 !important;
        @include fontWeight(semibold);
        .v-btn__overlay {
          background-color: transparent;
        }

        .v-btn__prepend {
          margin-left: 0;
        }
        .v-btn__append {
          margin-inline-start: auto;
          margin-right: 0;
        }
      }
    }
  }
}

.ico-rewards {
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    @include bgimg(ico-rewards);
    background-size: 100% 100%;
  }
}

.settings-version {
  &.cnt {
    color: #287eff;
    @include fontWeight(semibold);
  }
}

.section-block {
  + .section-block {
    padding-top: toRem(32);
  }
}

.section-block-divider {
  & + .section-block-divider {
    &::before {
      content: '';
      display: block;
      border-top: toRem(8) solid #eee;
      margin-inline: $contentsPaddingN;
      margin-block: toRem(32);
    }
  }
}

.v-list-item--variant-text {
  .v-list-item__overlay {
    background: inherit !important;
  }
}

.isFixed {
  .vc-header {
    display: none;
  }
  .calendar-info {
    margin-inline: 0;
  }
}
.v-tabs {
  &.tabs-round {
    height: auto;
    .v-tab {
      &.v-tab {
        &.btn-tab {
          height: auto;
          padding: toRem(5) toRem(12);
          border-radius: toRem(16);
          border: 1px solid #eee;
          background-color: #f7f7f7;
          line-height: 1.5;
          font-size: toRem(16);
          color: #888;
          transition: border 0.3s;
          @include fontWeight(noraml);
          & + .btn-tab {
            margin-left: toRem(8);
          }
        }
      }
    }
    &.navy {
      .v-tab--selected {
        &.btn-tab {
          border: 1px solid #3b4a65;
          background-color: #3b4a65;
          color: #fff;
          @include fontWeight(semibold);
        }
      }
    }
  }

  &.tabs-sliding {
    height: auto;
    border-bottom: 1px solid #dde1e4;
    .v-tab {
      &.v-tab {
        &.btn-tab {
          padding-inline: 0;
          padding-block: toRem(12);
          font-size: toRem(20);
          color: #8c949e;
          @include fontWeight(noraml);
          &.v-tab--selected {
            color: $black;
            @include fontWeight(semibold);
          }

          & + .btn-tab {
            margin-left: toRem(30);
          }

          .v-tab__slider {
            height: toRem(4);
            background-color: $black;
          }
        }
      }
    }
  }
}
.container-chart {
  padding: toRem(34) 0 toRem(24);
  &.reverse {
    padding: toRem(24) 0 toRem(34);
  }
}

.v-card--variant-elevated,
.v-card--variant-flat {
  color: inherit !important;
}

.textfield-area {
  .v-autocomplete--single {
    .v-field--variant-outlined {
      input {
        top: auto;
        transform: none;
      }
    }
  }
}
.blood-pressure-shrink {
  font-size: toRem(13);
  color: #3b4a65;
  display: flex;
  align-items: center;
  .icon {
    margin-right: toRem(4);
    &::before {
      content: '●';
      display: block;
      line-height: 1;
    }
  }
}
.blood-pressure-relaxation {
  font-size: toRem(13);
  color: #3b4a65;
  display: flex;
  align-items: center;
  .icon {
    margin-right: toRem(4);
    &::before {
      content: '◆';
      display: block;
      line-height: 1;
    }
  }
}

.blood-sugar-max {
  font-size: toRem(13);
  color: #3b4a65;
  display: flex;
  align-items: center;
  .icon {
    margin-right: toRem(4);
    &::before {
      content: none;
      display: block;
      width: toRem(12);
      height: toRem(12);
      border-radius: toRem(6);
      border: toRem(3) solid #eb5147;
      line-height: 1;
    }
  }
}

.blood-sugar-min {
  font-size: toRem(13);
  color: #3b4a65;
  display: flex;
  align-items: center;
  .icon {
    margin-right: toRem(4);
    &::before {
      content: none;
      display: block;
      width: toRem(12);
      height: toRem(12);
      border-radius: toRem(6);
      color: #eb5147;

      line-height: 1;
    }
  }
}
.exercise-start {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dl-table {
  display: grid !important;
  grid-template-columns: toRem(70) minmax(auto, auto);
  align-items: center;
  gap: toRem(6) toRem(8);
  dt {
    min-width: auto !important;
    font-size: toRem(14);
    color: #666;
    align-self: flex-start;
  }
  dd {
    min-width: auto !important;
    &.success {
      color: #00c378 !important;
    }
    &[class*='error'] {
      color: #eb5147 !important;
      &.errorHighWarning {
        color: #ff862f !important;
      }
    }
  }
}

.chip-category {
  .errorHigh,
  .errorLow {
    color: #eb5147 !important;
  }
  .success {
    color: #00c378 !important;
  }
}

.container-chart {
  &.reverse {
    &.custom-padding {
      padding-block: toRem(24);
    }
  }
}

.banner-area {
  .v-btn {
    text-align: left;
  }
  .box-info {
    padding: toRem(16) toRem(24);
    .v-card-item {
      padding: 0;
    }
  }
}

.bullet-circle-items {
  color: #666;
  font-size: toRem(13);
  padding-left: toRem(12);
  position: relative;
  margin-inline: toRem(16);
  &::before {
    content: '';
    position: absolute;
    width: toRem(4);
    height: toRem(4);
    left: 0;
    top: toRem(8);
    border-radius: toRem(4);
    background-color: #666;
  }
}

.result-bloodSugar {
  .v-list-subheader {
    padding-bottom: toRem(12);
    .v-list-subheader__text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: toRem(26);
    }
    .icon {
      flex: none;
    }
  }
  .v-list-item {
    min-height: toRem(28);
    &:nth-child(-n + 4) {
      .items {
        .bullet-count,
        .info {
          color: #eb5147;
          .title {
            color: #eb5147;
          }
        }
      }
    }
    .items {
      display: flex;
      color: $black;
      .bullet-count {
        width: toRem(10);
        margin-right: toRem(8);
        flex: 0 0 auto;
        font-size: toRem(16);
        @include fontWeight(semibold);
      }
      .info {
        flex: 1 1 auto;
        color: #3b4a65;
        .title {
          font-size: toRem(16);
          color: #3b4a65;
          @include fontWeight(noraml);
        }
        .text {
          font-size: toRem(14);
          color: #666;
        }
      }
    }
  }
  .v-list-item__prepend > .v-avatar ~ .v-list-item__spacer {
    width: toRem(8);
  }

  .bullet-circle-items {
    margin-top: toRem(12);
  }
}
.swiper {
  &.card-swiper {
    margin-top: toRem(16);
    line-height: 0;
    padding-bottom: toRem(20);
    border-radius: toRem(8);
    overflow: hidden;
    .swiper-counter {
      position: absolute;
      right: 0;
      top: 0;
      line-height: 1.5;
      background: rgba(0, 0, 0, 0.6);
      text-align: center;
      padding: toRem(2) toRem(7);
      font-size: toRem(16);
      z-index: 10;
      color: $white;
      border-radius: 0px toRem(8);
      @include fontWeight(bold);
    }

    .swiper-slide {
      border-radius: toRem(8);
      overflow: hidden;
      position: relative;
      aspect-ratio: 1.966/1;
      &::after {
        content: '';
        border-radius: toRem(8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 0 toRem(1) rgba(0, 0, 0, 0.1) inset;
      }
    }

    .swiper-pagination-bullets {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      width: 100%;
      .swiper-pagination-bullet {
        background-color: #ccc;
        width: toRem(6);
        height: toRem(6);
        border-radius: toRem(3);
        transition: 0.3s ease width;
        &.swiper-pagination-bullet-active {
          width: toRem(20);
          background-color: #444;
        }
      }
    }
  }
}

.skeleton .text-date {
  position: relative;
}
.skeleton .text-date::after {
  content: '';
  position: absolute !important;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  left: 0;
  top: 0;
  background: #f6f7f8;
  background-position: -500px 0;
  -webkit-animation: skeletonShine 1s linear 0s infinite normal forwards;
  animation: skeletonShine 1s linear 0s infinite normal forwards;
  background-image: linear-gradient(
    135deg,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  z-index: 1;
}

@keyframes skeletonShine {
  to {
    background-position: 500px 0;
  }
}

.list-simple-description {
  //padding-bottom: toRem(25);
  &.v-list {
    //padding-bottom: toRem(25);
    padding: 0;
    overflow: hidden;
  }
  &.v-list--density-default {
    .v-list-subheader {
      padding-inline: 0 !important;
    }
  }
}
.simple-description-items {
  padding: 0;
  &.v-list-item {
    padding: 0;
  }

  & + & {
    margin-top: toRem(30);
  }
  .v-list-item__prepend {
    > .v-icon ~ .v-list-item__spacer {
      width: toRem(16);
    }
  }

  .v-list-item-title {
    font-size: toRem(16);
    @include fontWeight(semibold);
  }

  .v-list-item-subtitle {
    padding-top: toRem(2);
    font-size: toRem(14);
    color: #666;
  }
}

.select-field {
  .mdi-chevron-down {
    color: #444;
  }
}

.v-btn {
  &.btn-selectField {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    &.v-btn--density-default {
      height: 100%;
    }
  }
}

.v-list-item {
  &.consume-calorie {
    border-radius: toRem(16);
    background-color: #3b4a65;
    color: $white;
    padding: toRem(24);
    .v-list-item__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .v-list-item-title {
        display: flex;
        align-items: center;
        font-size: toRem(16);
      }

      .v-list-item-subtitle {
        font-size: toRem(18);
        @include fontWeight(semibold);
      }
    }
  }

  &.textfield-memo {
    padding: 0;
  }
}
.v-list-item-title {
  .small {
    font-size: toRem(14);
    color: #666;
  }
}

.icon-consume-calorie {
  line-height: 0;
  margin-right: toRem(4);
}

.v-card-actions {
  .btn-bottom {
    height: auto;
    width: 100%;
    .btn-area {
      position: static;
      padding: 0;
    }
  }
}

.v-chip {
  &.v-chip--density-default {
    &.file-image {
      width: 100%;
      height: auto;
      aspect-ratio: auto 1/1;
      border-radius: toRem(4);
      overflow: hidden;
      padding: 0;
      position: relative;
      transform: translateZ(0);

      .mdi-close-circle {
        border-bottom-left-radius: toRem(4);
        background: rgba(0, 0, 0, 0.6);
        height: toRem(20);
        width: toRem(20);
        &::before {
          color: $white;
          font-size: toRem(16);
        }
      }

      .v-chip__append {
        width: 100%;
        & + .v-chip__close {
          margin-inline-start: 0;
          margin-inline-end: 0;
        }
      }

      .v-avatar {
        width: 100%;
        height: auto;
      }

      .v-chip__close {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.defaultPadding-x {
  .isFixed {
    padding-inline: toRem(24);
  }
}

.list-inputFile-picture {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: toRem(8);
}

.time-spinner {
  position: relative;
  width: toRem(240);
  height: toRem(240);
  margin: toRem(164) auto 0;
  border-radius: 100%;
  padding: toRem(20);
  background-color: #f8f8f8;
  .count-down {
    height: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #3f86f1;
    font-size: toRem(80);
  }
}

.v-btn {
  &.btn-changeMode {
    height: toRem(36);
    font-size: toRem(16);
    padding-inline: toRem(12);
    border-radius: toRem(100);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    .v-btn__prepend {
      margin-right: 0;
    }
    .icon-location-black {
      width: 20px;
      height: 20px;
      background: url(/assets/images/icon-location-black.svg) no-repeat center
        center / auto 100%;
    }
    .icon-timer {
      width: 20px;
      height: 20px;
      background: url(/assets/images/icon-timer.svg) no-repeat center center /
        auto 100%;
    }
  }
}

.timer-info {
  padding-block: toRem(16);
  margin-top: toRem(8);
}
.wrap-timer {
  position: relative;
  border-radius: 100%;
  padding: 0 toRem(27);
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  .change-mode-button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .timer-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    .spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 100%;
      &.paused {
        border: toRem(4) solid #ccc;
        svg {
          display: none;
        }
      }
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: toRem(200);
    height: toRem(160);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: toRem(46);
    @include fontWeight(semibold);
    .timer-time {
      display: flex;
      align-items: center;
    }
    .name {
      font-size: toRem(14);
      color: #666;
      &.nameStop {
        color: #3f86f1;
      }
    }
  }
}

.icon-sports {
  display: inline-flex;
  width: toRem(56);
  height: toRem(56);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  vertical-align: middle;
  background-image: url(/assets/images/icon-sports-etc.svg);
  &.small {
    width: toRem(24);
    height: toRem(24);
  }
  &.bicycle {
    background-image: url(/assets/images/icon-bicycle.svg);
  }
  &.ping-pong {
    background-image: url(/assets/images/icon-ping-pong.svg);
  }
  &.baseball {
    background-image: url(/assets/images/icon-baseball.svg);
  }
  &.golf {
    background-image: url(/assets/images/icon-golf.svg);
  }
  &.muscular {
    background-image: url(/assets/images/icon-muscular.svg);
  }
  &.running {
    background-image: url(/assets/images/icon-running.svg);
  }
  &.hiking {
    background-image: url(/assets/images/icon-hiking.svg);
  }
  &.stairs {
    background-image: url(/assets/images/icon-stairs.svg);
  }
  &.basketball {
    background-image: url(/assets/images/icon-basketball.svg);
  }
  &.billiards {
    background-image: url(/assets/images/icon-billiards.svg);
  }
  &.climb {
    background-image: url(/assets/images/icon-climb.svg);
  }
  &.runningMachine {
    background-image: url(/assets/images/icon-runningMachine.svg);
  }
  &.badminton {
    background-image: url(/assets/images/icon-badminton.svg);
  }
  &.boxing {
    background-image: url(/assets/images/icon-boxing.svg);
  }
  &.bowling {
    background-image: url(/assets/images/icon-bowling.svg);
  }
  &.swim {
    background-image: url(/assets/images/icon-swim.svg);
  }
  &.squash {
    background-image: url(/assets/images/icon-squash.svg);
  }
  &.spinning {
    background-image: url(/assets/images/icon-spinning.svg);
  }
  &.aerobic {
    background-image: url(/assets/images/icon-aerobic.svg);
  }
  &.yoga {
    background-image: url(/assets/images/icon-yoga.svg);
  }
  &.footVolleyball {
    background-image: url(/assets/images/icon-footVolleyball.svg);
  }
  &.jumpRope {
    background-image: url(/assets/images/icon-jumpRope.svg);
  }
  &.tennis {
    background-image: url(/assets/images/icon-tennis.svg);
  }
  &.jiuJitsu {
    background-image: url(/assets/images/icon-jiuJitsu.svg);
  }
  &.taekwondo {
    background-image: url(/assets/images/icon-taekwondo.svg);
  }
  &.judo {
    background-image: url(/assets/images/icon-judo.svg);
  }
  &.volleyball {
    background-image: url(/assets/images/icon-volleyball.svg);
  }
  &.climbing {
    background-image: url(/assets/images/icon-climbing.svg);
  }
  &.dance {
    background-image: url(/assets/images/icon-dance.svg);
  }

  & + .text {
    color: #3f86f1;
    margin-left: toRem(3);
    font-size: toRem(13);
  }
}

.gps-map {
  margin-inline: calc(toRem(24) * -1);
}

.title-area {
  .lead {
    font-size: toRem(20);
    font-weight: 600;
    line-height: toRem(28);
  }
  .desc {
    &.small {
      font-size: toRem(14);
      color: #666;
    }
  }
}

.mode-map-timer {
  padding-top: toRem(32);
  padding-bottom: toRem(18);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: toRem(32);
  @include fontWeight(semibold);
  .timer-time {
    line-height: toRem(40);
  }
  .name {
    font-size: toRem(14);
    color: #666;
    line-height: toRem(24);
    &.nameStop {
      color: #3f86f1;
    }
  }
}

.title-26 {
  font-size: toRem(26);
  padding-bottom: toRem(28);
  line-height: toRem(34);
  font-family: var(--font-secondary);
  @include fontWeight(bold);
}

.bullet-contents {
  padding-bottom: toRem(32);
  .bullet-contents-title {
    font-size: toRem(20);
    padding-bottom: toRem(16);
    @include fontWeight(semibold);
  }
}

.v-dialog--fullscreen {
  &.modal-bottom {
    &.modal-timer {
      .modal-body {
        padding-bottom: 0;
      }
      .change-mode-button {
        display: flex;
        justify-content: flex-end;
        padding-bottom: toRem(8);
        padding-right: toRem(24);
      }
      .v-overlay__content {
        border-radius: 0;
      }
      .v-overlay__content {
        .v-card {
          border-top-left-radius: toRem(16);
          border-top-right-radius: toRem(16);
        }
      }
    }
  }
}

.result-count {
  display: flex;
  justify-content: space-between;
  margin: toRem(8) toRem(-24) 0;
  padding: toRem(20) toRem(24);
  font-size: toRem(14);
  background-color: #f8f8f8;
}

.record-card-name {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.v-btn {
  &.btn-banner {
    display: grid;
    width: 100%;
    padding: toRem(32) 0;
    grid-template-columns: auto 1fr auto;
    justify-content: flex-start;
    .v-btn__content {
      justify-content: flex-start;
    }
    .v-btn__prepend {
      margin-right: toRem(8);
    }
    .text {
      .title {
        font-size: toRem(16);
        @include fontWeight(semibold);
        line-height: toRem(24);
      }
      .small {
        color: #888;
        font-size: toRem(14);
      }
    }
  }
}

.icon-prev-blood {
  background: url(/assets/images/icon-prev-blood.svg) no-repeat 0 0 / cover;
}

.v-btn {
  .tooltip-balloon {
    position: absolute;
    &.arrow-bottom {
      &.green {
        z-index: 1;
        background-color: #f0fff9;
        border: 1px solid #9defd0;
        color: #00c378;
        font-family: var(--font-secondary);
        font-size: toRem(13);
        @include fontWeight(bold);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        &.right {
          right: 0;
          bottom: 100%;
          margin-bottom: toRem(3);
        }
        &::before {
          content: '';
          position: absolute;
          top: 100%;
          background-color: transparent;
          border-left: transparent solid toRem(3);
          border-right: transparent solid toRem(3);
          border-top: toRem(6) solid #f0fff9;
          transform: translateX(-50%);
          left: 50%;
        }
        &::after {
          top: 100%;
          background-color: transparent;
          border-left: transparent solid toRem(5);
          border-right: transparent solid toRem(5);
          border-top: toRem(8) solid #9defd0;
          transform: translateX(-50%);
          bottom: auto;
        }
      }
    }
  }
}

.log-date {
  margin-top: toRem(16);
  text-align: right;
  color: #888;
  font-size: toRem(13);
}

.v-btn {
  &.v-btn.v-btn--density-default {
    &.link-icon {
      padding: toRem(16);
      border-radius: toRem(16);
      align-items: flex-start;
      justify-content: flex-start;
      height: auto;
      font-size: toRem(16);
      width: 100%;
      .text {
        color: #444;
        @include fontWeight(noraml);
      }
    }

    &.btn-question {
      padding: 0;
      height: auto;
      &.btn-title-absolute {
        position: absolute;
        right: toRem(16);
        top: toRem(24);
      }
    }
  }
}

.ico-link-arrow {
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(/assets/images/icon-link-arrow.svg) no-repeat center center /
      cover;
  }
}

.modal-lead {
  font-size: toRem(16);
  color: #666;
  padding-bottom: toRem(20);
}

.wrap-file-input {
  position: relative;
}
.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn-file-input {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: toRem(8);
  background: #fceba6;
  height: toRem(40);
  font-size: toRem(15);
  .mdi-plus {
    margin-left: toRem(6);
  }
}

.numberCounter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  &.end {
    // font-size: 35px;
    // transition: all 0.3s ease-in;
  }
}

.list-iconlst2 [class*='icon'].icon-save-rewards {
  background: url(/assets/images/icon-save-rewards.svg) no-repeat center / 100%
    auto;
  height: toRem(24);
  width: toRem(24);
  flex: 0 0 auto;
}

.bg-lightyellow {
  background-color: #fffae5 !important;
}

.load-deviceConnection {
  height: 8px;
}
.c-blue {
  color: rgba(var(--v-theme-primary)) !important;
}
.c-red {
  color: rgba(var(--v-theme-error)) !important;
}
.c-green {
  color: #00c378;
}

.c-orange {
  color: #ff862f;
}
.c-gray {
  color: #666 !important;
}

.c-darkGray {
  color: #222 !important;
}

.icon-active-result {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  &.sucess {
    background-image: url(/assets/images/icon-active-result-sucess.svg);
  }
  &.fail {
    background-image: url(/assets/images/icon-active-result-fail.svg);
  }
}

.active-result-window {
  margin-inline: toRem(-24);
}

.wrap-active-analysis {
  padding: toRem(16) toRem(16);
  background-color: #e6ecf5;
}

.report-active-result-items {
  &.v-card {
    padding: toRem(24);
    border-radius: toRem(16);
    & + .v-card {
      margin-top: toRem(8);
    }
  }
  .v-card-item__prepend {
    padding-inline-end: toRem(4);
  }
  .v-card-item {
    padding: 0 0 toRem(8) 0;
  }
  .v-card-text {
    padding: toRem(8) 0 0 0;
    font-size: toRem(16);
  }
}

.wrap-swiper-date {
  position: relative;
  display: flex;
  justify-content: center;
  padding: toRem(28) toRem(40) toRem(16);
  .swiper {
    &.swiper-date {
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        font-size: toRem(20);
        @include fontWeight(semibold);
      }
    }
  }
  .swiper-button-prev {
    position: static;
    flex: 0 0 auto;
    margin-top: 0;
    left: 0;
    width: toRem(24);
    height: toRem(24);
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      font-size: 0;
      background: url(/assets/images/icon-swiper-date-nav.svg) no-repeat center
        center / 100% auto;
    }
  }
  .swiper-button-next {
    position: static;
    flex: 0 0 auto;
    margin-top: 0;
    right: 0;
    width: toRem(24);
    height: toRem(24);
    &.swiper-button-disabled {
      opacity: 0 !important;
    }
    &::after {
      content: '';
      font-size: 0;
      width: 100%;
      height: 100%;
      background: url(/assets/images/icon-swiper-date-nav.svg) no-repeat center
        center / 100% auto;
    }
    transform: scaleX(-1);
  }
}

.icon-lifelog {
  position: relative;
  display: flex;
  padding: toRem(4);
  &::before {
    content: '';
    display: flex;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  &.walk {
    &::before {
      background-image: url(/assets/images/icon-lifelog-walk.svg);
    }
  }
  &.emotion {
    &::before {
      background-image: url(/assets/images/icon-lifelog-emotion.svg);
    }
  }
  &.sleep {
    &::before {
      background-image: url(/assets/images/icon-lifelog-sleep.svg);
    }
  }
  &.meal {
    &::before {
      background-image: url(/assets/images/icon-lifelog-meal.svg);
    }
  }
  &.body-composition {
    &::before {
      background-image: url(/assets/images/icon-lifelog-body-composition.svg);
    }
  }
  &.blood-sugar {
    &::before {
      background-image: url(/assets/images/icon-lifelog-blood-sugar.svg);
    }
  }
  &.blood-pressure {
    &::before {
      background-image: url(/assets/images/icon-lifelog-blood-pressure.svg);
    }
  }
  &.sports {
    &::before {
      background-image: url(/assets/images/icon-lifelog-sports.svg);
    }
  }
  &.water {
    &::before {
      background-image: url(/assets/images/icon-lifelog-water.svg);
    }
  }
  &.drinking {
    &::before {
      background-image: url(/assets/images/icon-lifelog-drinking.svg);
    }
  }
  &.smoking {
    &::before {
      background-image: url(/assets/images/icon-lifelog-smoking.svg);
    }
  }
  &.heart-rate {
    &::before {
      background-image: url(/assets/images/icon-lifelog-heart-rate.svg);
    }
  }
  &.medication {
    &::before {
      background-image: url(/assets/images/icon-lifelog-medication.svg);
    }
  }
}

.v-slide-group {
  &.tabs-simple2 {
    position: relative;
    margin-inline: toRem(-26);
    &.sm {
      margin-inline: toRem(-16);
      .v-slide-group__container {
        padding-left: toRem(16);
        padding-right: toRem(16);
      }
      &::after {
        content: none;
      }
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: toRem(52);
      height: 100%;
      background-image: linear-gradient(
        270deg,
        #fff 15%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    .v-slide-group__container {
      padding-left: toRem(24);
      padding-right: toRem(50);
    }
  }
}

.font-weight-normal {
  @include fontWeight(noraml);
}

.list-active-report {
  margin-inline: toRem(-24);
  display: flex;
  flex-direction: column;
}

.active-report-items {
  position: relative;

  &.v-card {
    padding: 0 toRem(24) toRem(48);
    border-radius: 0;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: toRem(8);
      background-color: #eee;
    }

    &[class*='order-empty-'] {
      padding-bottom: toRem(36);
      &::after {
        content: none;
      }
      & ~ [class*='order-empty-'] {
        padding-top: toRem(12);
        &::after {
          content: '';
          top: 0;
          bottom: auto;
        }
      }
    }

    .icon-lifelog {
      border-radius: toRem(8);
      background-color: #f8f8f8;
    }
    .v-card-item {
      padding: 0;
      .v-card-title {
        font-size: toRem(20);
        @include fontWeight(semibold);
        padding: toRem(26) toRem(20) toRem(24) 0;
      }
    }
    .v-card-text {
      padding: 0;
    }
  }
}

.active-report-items-text {
  font-size: toRem(22);
  @include fontWeight(semibold);
  line-height: toRem(30);
}
.active-report-items-result {
  font-size: toRem(16);
  margin-top: toRem(8);
  line-height: toRem(24);
  color: #666;
  strong {
    color: $black;
  }
}

.text-variation {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

  &.decrease {
    &::before {
      content: '';
      font-size: 0;
      height: 0;
      border-top-width: toRem(8);
      border-top-style: solid;
      border-left: toRem(5) solid transparent;
      border-right: toRem(5) solid transparent;
      display: block;
      margin-right: toRem(4);
    }
  }

  &.increase {
    &::before {
      content: '';
      font-size: 0;
      height: 0;
      border-bottom-width: toRem(8);
      border-bottom-style: solid;
      border-left: toRem(5) solid transparent;
      border-right: toRem(5) solid transparent;
      display: block;
      margin-right: toRem(4);
    }
  }

  &.red {
    color: #eb5147;
    &::before {
      border-top-color: #eb5147;
    }
  }
  &.green {
    color: #00c378;
    &::before {
      border-top-color: #00c378;
    }
  }
  &.blue {
    color: #3f86f1;
    &::before {
      border-top-color: #3f86f1;
    }
  }
}

.active-report-items-hint {
  text-align: center;
  background-color: #eef6ff;
  border-radius: toRem(8);
  padding: toRem(16);
  font-size: toRem(16);
  margin-top: toRem(16);
  &.gray {
    background-color: #f8f8f8;
  }
}

.active-report-items-circle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: toRem(32);
  .icon-report-items-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(140);
    height: toRem(140);
    border-radius: 50%;
    background-color: #f8f8f8;
    flex-direction: column;
    .text {
      color: #666;
      font-size: toRem(13);
    }
  }
  .tit-report-items-circle {
    margin-top: toRem(10);
    font-size: toRem(20);
    @include fontWeight(semibold);
  }
  .text-report-items-circle {
    color: #444;
    margin-top: toRem(4);
    font-size: toRem(14);
  }
}

.tit-active-report-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: toRem(32);
  padding-bottom: toRem(16);
  font-size: toRem(16);
  @include fontWeight(semibold);
  small {
    color: #888;
    font-size: toRem(14);
    @include fontWeight(noraml);
  }
}

.tab-sticky {
  margin-top: toRem(32);
  .v-tabs {
    height: auto;
  }
  .sticky {
    &.isFixed {
      .v-slide-group.tabs-simple2 {
        margin-inline: 0;
      }
    }
  }
}

.btn-arrow-right {
  &.v-btn {
    padding-inline: 0;
  }
}

.wrap-active-emotion-chart {
  padding-bottom: toRem(33);
  .active-emotion-chart-container {
    display: flex;
    justify-content: space-around;
    padding-top: toRem(28);
    margin-inline: toRem(33);
    height: toRem(190);
    border-bottom: 1px solid #eee;
  }

  .emotion-chart-items {
    position: relative;
    width: toRem(48);
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: toRem(5);
      background-color: #eee;
      min-height: toRem(5);
      border-radius: toRem(8) toRem(8) 0 0;
      border: 1px dashed #ccc;
      border-bottom: none;
    }
    .active-emotion-chart-label {
      position: absolute;
      width: 100%;
      top: 100%;
      padding-top: toRem(13);
      text-align: center;
      color: #666;
      font-size: toRem(14);
    }
    .tooltip-balloon {
      position: absolute;
      top: toRem(-70);
      left: 50%;
      transform: translateX(-50%);
    }
    .icon-emotion {
      position: absolute;
      top: toRem(-32);
      left: 50%;
      transform: translateX(-50%);
    }
    .active-emotion-chart {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-radius: toRem(8) toRem(8) 0 0;
      &.active {
        min-height: toRem(5);
        &.high {
          .tooltip-balloon {
            top: toRem(-50);
          }
          .icon-emotion {
            top: toRem(-12);
          }
        }
      }
    }

    &.average {
      .active-emotion-chart {
        &.active {
          background-color: #ffd633;
        }
      }
    }

    &.positive {
      .active-emotion-chart {
        &.active {
          background-color: #00c378;
        }
      }
    }

    &.negation {
      .active-emotion-chart {
        &.active {
          background-color: #eb5147;
        }
      }
    }
  }
}

.icon-emotion {
  display: flex;
  width: toRem(24);
  height: toRem(24);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  &.average {
    background-image: url(/assets/images/icon-emotion-average.svg);
  }
  &.positive {
    background-image: url(/assets/images/icon-emotion-positive.svg);
  }
  &.negation {
    background-image: url(/assets/images/icon-emotion-negation.svg);
  }
}

.wrap-round-cell {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  border-radius: toRem(16);
  border: 1px solid #eee;
  background-color: #eee;
  overflow: hidden;
  &.cell-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .round-cell {
    display: flex;
    flex-direction: column;
    padding: toRem(16);
    background-color: #fff;
    word-break: break-word;
    .tit-round-cell {
      font-size: toRem(14);
    }
    .text-variation {
      color: #888;
      border-top-color: #888;
      border-bottom-color: #888;
      margin-top: toRem(2);
    }
    .percent-round-cell {
      font-size: toRem(16);
      @include fontWeight(semibold);
      padding-top: toRem(16);
      margin-top: auto;
      align-self: end;
    }
    &.align-center {
      padding-inline: 0;
      align-items: center;
      justify-content: center;
      .percent-round-cell {
        margin-top: toRem(2);
        align-self: center;
        & + .percent-round-cell {
          padding-top: toRem(4);
          margin-top: 0;
        }
      }
      .text-variation {
        margin-top: toRem(6);
      }
      .chart {
        margin-top: toRem(12);
      }
    }
  }
}

.icon-range {
  display: flex;
  width: toRem(12);
  height: toRem(15);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  &.lastWeek {
    background-image: url(/assets/images/icon-last-week.svg);
  }

  &.thisWeek {
    background-image: url(/assets/images/icon-this-week.svg);
  }
}

.wrap-step-range-chart {
  .step-range-chart {
    display: flex;
    padding-bottom: toRem(28);
    padding-top: toRem(12);
    &.active-bloodPressure-chart {
      .step-range-chart-items {
        &.active {
          background-color: #ff862f;
          &.high {
            background-color: #ff862f;
          }
        }
      }
    }
    .step-range-chart-items {
      & + .step-range-chart-items {
        border-left: toRem(1) solid #fff;
      }
      &:first-child {
        border-radius: toRem(8) 0 0 toRem(8);
      }
      &:last-child {
        border-radius: 0 toRem(8) toRem(8) 0;
      }
      width: 100%;
      height: toRem(12);
      background-color: #eee;
      position: relative;

      &.active {
        border-left: none;
        .icon-range {
          position: absolute;
          left: 50%;
          bottom: calc(100% - toRem(3));
          transform: translateX(-50%);
        }
        &.low {
          background-color: #ff862f;
        }
        &.normal {
          background-color: #00c378;
        }
        &.danger {
          background-color: #ff862f;
        }
        &.high {
          background-color: #ff862f;
        }
        &.higher {
          background-color: #eb5147;
        }
      }

      .label {
        padding-top: toRem(8);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        font-size: toRem(13);
      }
    }
  }
}

.list-active-report-average {
  margin-top: toRem(12);
  border-radius: toRem(16);
  border: 1px solid #eee;
}
.active-report-average-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: toRem(16);
  & + .active-report-average-items {
    border-top: 1px solid #eee;
  }
  .tit-active-report-average {
    display: flex;
    align-items: center;
    font-size: toRem(14);
    .icon-range {
      margin-right: toRem(4);
    }
  }
  .wrap-active-report-average {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(8) toRem(16);
    margin-left: toRem(27);
  }
  .text-active-report-average {
    display: flex;
    align-items: center;
  }
  .chip-color {
    margin-right: toRem(8);
  }
  .active-report-average-cnt {
    font-size: toRem(16);
    @include fontWeight(semibold);
  }
}

.chart {
  &.round {
    border-radius: toRem(16);
    border: 1px solid #eee;
    padding: toRem(24) toRem(16);
  }

  &.chart-bubble {
    padding-block: 0;
  }
}
$activeReportRangeX: calc(100 / 6);
.wrap-chart-active-report-range {
  .chart-active-report-legend {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: toRem(6);
    color: #666;
    font-size: toRem(13);
    .icon-legend {
      width: toRem(8);
      height: toRem(8);
      border-radius: 50%;
      margin-right: toRem(2);
    }
  }
  .chart-active-report-range-container {
    .chart-active-report-range {
      position: relative;
      padding-top: toRem(12);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: toRem(12);
        width: 100%;
        background-color: #eee;
        border-radius: toRem(6);
      }
      .chart-active-report-range-bar {
        background-color: #ffd633;
        position: absolute;
        top: 0;
        height: toRem(12);
        width: 0;
        border-radius: toRem(6);
        transition: all 0.3s;
        &::before,
        &::after {
          content: '';
          position: absolute;
          width: toRem(8);
          height: toRem(8);
          border-radius: 50%;
          background-color: #fff;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          left: toRem(3);
        }
        &::after {
          right: toRem(3);
        }
      }

      .chart-active-report-range-label {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: toRem(10);
        .label {
          color: #666;
          font-size: toRem(16);
        }
      }
    }
  }
}

@for $idx from 1 through 13 {
  .order-empty-item#{$idx} {
    order: #{$idx};
  }
}

.chart-svg {
  width: 100%;
  height: 100%;
}

.node {
  cursor: default;
  @for $i from 1 through 30 {
    &:nth-child(#{$i}) .graph {
      $delay: $i * 0.033s;
      animation-delay: $delay;
    }
  }
}
.node circle {
  transition: transform 200ms ease-in-out;
}
.node:hover circle {
  transform: scale(1.05);
}
#chartBubble {
}
.bubbleGraph {
  opacity: 0;
  animation-name: animateIn;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.7, 0.85, 0.41, 1.21);
  font-size: toRem(14);
  .low {
    fill: #f96b2d;
  }
  .normal {
    fill: #00c378;
  }
  .danger {
    fill: #ffac2f;
  }
  .high {
    fill: #ff862f;
  }
  .higher {
    fill: #eb5147;
  }
}
.lengend {
  .low {
    fill: #f96b2d;
  }
  .normal {
    fill: #00c378;
  }
  .danger {
    fill: #ffac2f;
  }
  .high {
    fill: #ff862f;
  }
  .higher {
    fill: #eb5147;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-8deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

.wrap-active-report-sports-list {
  .active-report-sports-list-items {
    padding: toRem(16);
    border-radius: toRem(16);
    border: 1px solid #eee;
    & + .active-report-sports-list-items {
      margin-top: toRem(16);
    }

    .active-report-sports-list-title {
      display: flex;
      padding-bottom: toRem(16);
      .list-number {
        display: inline flex;
        width: toRem(24);
        height: toRem(24);
        border-radius: 50%;
        background-color: #3b4a65;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: toRem(13);
      }
      .date {
        font-size: toRem(16);
      }
      .text {
        font-size: toRem(16);
        margin-left: auto;
      }
    }

    .active-report-sports-list-contents {
      padding: toRem(16);
      border-radius: toRem(8);
      background-color: #f8f8f8;
    }
    .active-report-sports-list-text {
      & + .active-report-sports-list-text {
        margin-top: toRem(8);
      }
      .active-report-sports-list-text-items {
        display: grid;
        align-items: center;
        row-gap: toRem(10);
        grid-template-columns: 1fr 2fr;
        .title {
          display: flex;
          align-items: center;
          column-gap: toRem(4);
        }
        .text {
        }
      }
    }
  }
}

.active-reports-empty {
  padding-bottom: toRem(24);
  .text {
    font-size: toRem(20);
    line-height: toRem(28);
    @include fontWeight(semibold);
  }
}

.no-data {
  .icon-info {
    &.device {
      width: toRem(60);
      height: toRem(60);
      background-image: url(/assets/images/img-nodata-device.svg);
    }
  }
}

.wrap-profile-img {
  display: flex;
  position: relative;
  width: toRem(120);
  height: toRem(120);
  margin: 0 auto;
  align-items: center;
  .v-img {
    border-radius: 50%;
  }
}

.icon-profile-modify {
  &.v-icon {
    display: inline-flex;
    line-height: 0;
    width: toRem(32);
    height: toRem(32);
    position: relative;
    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url(/assets/images/icon-profile-modify.svg) no-repeat center
        center / 100% auto;
    }
  }
}

.btn-profile-modify {
  &.v-btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &.v-btn--icon {
    &.v-btn--density-default {
      width: toRem(32);
      height: toRem(32);
    }
  }
}

.list-circle {
  li {
    &.fs-16 {
      color: #444;
      margin-bottom: toRem(8);
      &::before {
        background-color: #484b51;
      }
    }
  }
}

.list-select-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: toRem(12);
  gap: toRem(16);
}
.select-profile-items {
  .profile-items {
    position: relative;
    display: flex;
    padding: toRem(5);
    border-radius: 50%;
    transition: all 0.3s;
    .profile-img {
      min-height: 1px;
      min-width: 1px;
    }
    &:has(.input-hidden:checked) {
      box-shadow: 0 0 0 toRem(2) #ffd633 inset;
    }
  }
}
.input-hidden {
  all: inherit;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-arrow-right {
  display: flex;
  width: toRem(20);
  height: toRem(20);
  background: url(/assets/images/icon-arrow-right.svg) no-repeat center center /
    100% auto;
}

.list-card-link {
  margin-top: toRem(10);
  border-bottom: 1px solid #eee;
}
.card-link-items {
  text-decoration: none;
  color: $black;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: toRem(16) 0 toRem(10);

  .v-card {
    .v-card-item {
      padding: 0 0 toRem(4) 0;
    }
    .v-card-title {
      font-size: toRem(16);
      @include fontWeight(semibold);
    }
    .v-card-text {
      padding: 0;
      font-size: toRem(14);
      color: #666;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // display: -webkit-box;
      // -webkit-box-orient: vertical;
      // -webkit-line-clamp: 2;
      // line-height: 1.5em;
      // max-height: 3em;
    }
  }

  .icon-arrow-right {
    align-self: center;
    margin-left: toRem(16);
    flex: 0 0 auto;
  }

  & + .card-link-items {
    border-top: 1px solid #eee;
  }
}

.list-license {
  .license-title {
    padding: toRem(24) 0 toRem(8);
    font-size: toRem(16);
    @include fontWeight(semibold);
  }
  .license-text {
    font-size: toRem(14);
    color: #666;
    p {
      padding-bottom: 10px;
    }
  }
  .list-license-text {
    padding-block: toRem(15);
  }
  .license-text-items {
    padding-bottom: 10px;
  }
}

.wrap-list-border {
  & + .wrap-list-border {
    padding-top: toRem(24);
  }
}

.list-border {
  .list-border-items {
    display: flex;
    padding: toRem(20) 0;
    align-items: center;
    justify-content: space-between;
    & + .list-border-items {
      border-top: 1px solid #eee;
    }
  }
  .title-list-border {
    font-size: toRem(16);
    color: $black;
    @include fontWeight(semibold);
  }
}

.icon-nodata-attached {
  background: url(/assets/images/icon-nodata-attached.svg) no-repeat center
    center / 100% auto;
}

.btn-area {
  .btn-yellow {
    &.v-btn {
      background-color: #ffd633;
      color: #222;
      font-family: var(--font-secondary);
      font-size: toRem(14);
      @include fontWeight(bold);
    }
  }
}

.no-data {
  + .btn-area {
    margin-top: 0 !important;
  }
}

.btn-area-middle {
  display: flex;
  flex-wrap: wrap;
  gap: toRem(8) toRem(9);
  .v-btn {
    flex: 1 1;
    font-family: var(--font-secondary);
    &.btn-option {
      font-family: var(--font-primary);
    }
  }
}

.hidden-search {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  opacity: 0;
}

.lh-default {
  line-height: toRem(20) !important;
  margin-top: toRem(1);
}

.hours {
  & + .minutes {
    margin-left: toRem(4);
  }
}
.minutes {
  & + .seconds {
    margin-left: toRem(4);
  }
}

button[disabled] .c-darkGray,
.v-btn[disabled] .c-darkGray {
  color: #aaa !important;
}

.report-food-img {
  width: 100%;
}

.lh-4 {
  line-height: 1.4 !important;
}

.card-report:last-of-type {
  padding-bottom: toRem(1);
}

.list-vertical {
  display: flex;
  column-gap: toRem(40);
  .list-vertical-items {
    color: #3b4a65;
    .title-list-vertical {
      font-size: toRem(13);
    }
    .text-list-vertical {
      font-size: toRem(18);
      @include fontWeight(semibold);
    }
    &.last {
      color: #777;
    }
  }
}
