.faq-btns {
  position: sticky;
  top: $contentsPaddingN;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #444;
}

.sorting-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.btn-select {
  &.v-btn--variant-outlined {
    background: #f7f7f7;
    border-color: #eee;
  }
  .v-btn__content {
    @include fontWeight(400);
    font-size: toRem(16);
    color: #888;
  }
}
.btn-grey {
  &.v-btn {
    background-color: #f2f4f6;
    color: #0066ff;
  }
}

.list-faq {
  font-family: var(--font-primary);
  color: #444;
  li {
    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
    padding-block: toRem(16);
    &.item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-2 {
        display: grid;
        grid-template-columns: 1fr 60px;
        .v-btn {
          justify-self: end;
        }
      }
    }
    .text-tit {
      @include fontWeight(semibold);
      color: $black;
      &-02 {
        @include fontWeight(semibold);
        font-size: toRem(16);
        color: $black;
        align-self: center;
      }
    }
    .text-point {
      @include fontWeight(semibold);
      color: $black;
    }
  }
  .info-group {
    .type:only-of-type::before {
      display: none;
    }
  }
  &.type-2 {
    li {
      border-color: #eee;
    }
  }
  & + .section-page {
    margin-top: 30px;
  }
}

.customer-btns {
  display: grid;
  gap: toRem(32) 0;
}
.btn-link {
  &.v-btn {
    padding: 0;
    font-size: toRem(16);
    --v-theme-overlay-multiplier: 0 !important;
  }
  .v-btn__content {
    display: grid;
    grid-template-columns: 1fr 20px;
    width: 100%;
    @include fontWeight(semibold);
    text-align: left;
    &::after {
      content: '';
      height: 20px;
      @include bgimg('icon-arrow-right');
    }
  }
}
.btn-list-block {
  &.v-btn {
    --v-btn-height: 56px;
    justify-content: start;
    font-size: toRem(16);
    @include fontWeight(400);
    line-height: 24px;
    padding-inline: 0;
    --v-theme-overlay-multiplier: 0 !important;
  }
}

.box-reward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include fontWeight(semibold);
  font-size: toRem(18);
}

.box-grey {
  &.v-card {
    background: var(--v-theme-gray-1);
    padding: toRem(16);
    .v-card-title {
      @include fontWeight(semibold);
      font-size: inherit;
      line-height: inherit;
      padding: 0 0 8px 0;
    }
    .cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: inherit;
      padding: 0;
      .text-tel {
        @include fontWeight(semibold);
        font-size: toRem(18);
        line-height: toRem(28);
      }
    }
  }
}

.box-rounded {
  padding: toRem(28) toRem(16);
  border-radius: 16px;
  border: 1px solid #eee !important;
  font-size: toRem(18);
  .child {
    display: flex;
    margin-block-end: toRem(4);
    @include fontWeight(semibold);
    font-size: toRem(20);
    color: $black;
    line-height: toRem(28);
    .text {
      font-weight: inherit;
      margin-top: -1px;
    }
    .text-point {
      font-family: var(--font-secondary);
      @include fontWeight(bold);
      line-height: toRem(28);
    }
  }
  .text-value {
    @include fontWeight(400);
    font-size: toRem(16);
    line-height: toRem(24);
    color: #287eff;
  }
  &.v-card {
    .v-card-title {
      & + .no-data {
        padding-top: toRem(24);
        padding-bottom: toRem(16);
      }
    }
  }
}

.v-card {
  &.card-rounded {
    padding: toRem(24) toRem(16);
    box-shadow: 2px 4px 10px 0px rgba(209, 216, 222, 0.25);
    border: 1px solid #eee;
    margin-block-start: toRem(16);
    .card-item {
      margin: 0 toRem(-16);
      padding: toRem(16);
      &:not(:last-of-type) {
        border-bottom: 1px solid #eee;
      }
    }
  }
}

.section-bg {
  .card-rounded {
    border: 0;
  }
}

.point-area {
  position: relative;
  background-color: #ffd633;
  border-radius: 16px;
  padding: toRem(20);
  margin-inline: toRem(-8);
  .child {
    display: flex;
    justify-content: space-between;
  }
  .text-info-1 {
    font-size: toRem(13);
    line-height: toRem(20);
  }
  .btn-point {
    @include fontWeight(semibold);
    font-size: toRem(16);
    line-height: toRem(24);
    padding: 0;
    --v-theme-overlay-multiplier: 0 !important;
  }
}

.sorting-area {
  &.type-2 {
    .btn-default {
      background-color: #f3f5f8 !important;
    }
    .btn-submit {
      background-color: #fceba6 !important;
      color: #444;
    }
  }
}

.sorting-data {
  display: flex;
  justify-content: space-between;
  .text-date {
    font-size: toRem(14);
    color: #666;
  }
  &.total {
    .v-btn {
      height: toRem(20) !important;
    }
    .text-date {
      line-height: toRem(20);
    }
  }
  .v-btn {
    height: toRem(20) !important;
  }
  > .v-btn {
    --v-theme-overlay-multiplier: 0 !important;
  }
}
.sorting-news {
  .v-btn {
    --v-btn-height: 1.5rem;
    --v-theme-overlay-multiplier: 0 !important;
  }
}

.text-point {
  &.type-1 {
    font-family: var(--font-secondary);
    font-size: toRem(26);
    @include fontWeight(bold);
  }
}
.text-day {
  font-size: toRem(14);
  color: #888;
}

// line없는 v-select
.select-default {
  &.v-select {
    .v-field {
      --v-input-control-height: 26px;
      --v-input-chips-margin-top: 0;
      --v-input-chips-margin-bottom: 0;
      --v-field-padding-start: 0;
      --v-field-padding-end: 0;
      --v-input-padding-top: 0;
      --v-field-padding-bottom: 0;
      --v-field-border-width: 0;
      --v-field-padding-after: 0;
      padding-inline-end: 0;
      .v-label.v-field-label {
        margin-inline-start: var(--v-field-padding-start);
      }
      .v-field__input {
        color: $black;
      }
      .v-field__append-inner {
        margin-top: toRem(-1);
        .mdi-menu-down::before {
          content: '\F0140';
        }
      }
      .v-field__outline {
        --v-field-border-width: inherit;
        &::after {
          border: var(--v-field-border-width);
        }
      }
    }
    .v-select__selection {
      max-width: fit-content;
    }
    &.v-input--density-comfortable {
      .v-field__input {
        font-size: toRem(24);
        line-height: toRem(24);
        @include fontWeight(semibold);
      }
      .v-field {
        .v-field__append-inner {
          .v-icon {
            @include bgimg('icon-arrow-down');
            background-position: center;
            margin-inline-start: 0;
          }
          .mdi-menu-down::before {
            content: '';
          }
        }
      }
    }
  }
}

.tabs-simple2.gap {
  gap: 6px;
  .v-btn--size-default {
    padding: 0 12px;
  }
}

.text-info-grey {
  font-size: toRem(14);
  color: #666;
  line-height: toRem(20);
  &.type-2 {
    color: #888;
  }
  &.type-3 {
    color: #ccc;
  }
}
.text-info-black {
  font-size: toRem(18);
  @include fontWeight(semibold);
}

// picker
.calendar-input {
  display: grid;
  grid-template-columns: 1fr 34px 1fr;
  gap: 6px 0;
  border: 1px solid #ccc;
  border-radius: 16px;
  height: 84px;
  padding: 15px 16px;
  .v-label {
    align-self: start;
    grid-area: 1 / 1 / 2 / 4;
    font-size: toRem(14);
    @include fontWeight(light);
    line-height: 20px;
  }
  .v-input {
    &.v-input--density-compact {
      --v-input-control-height: 26px;
      --v-input-padding-top: 0;
      --v-input-chips-margin-top: 0;
      --v-input-chips-margin-bottom: 0;
    }
    .v-field__input {
      @include fontWeight(semibold);
      font-size: toRem(18);
      &::placeholder {
        font-size: inherit;
        opacity: 1;
        color: #ccc;
        text-overflow: ellipsis;
        line-height: toRem(26);
      }
    }
  }
  .v-field__append-inner {
    --v-input-padding-top: -2px;
  }
  .mdi-calendar {
    width: 20px;
    height: 20px;
    @include bgimg('icon-calendar');
    font-size: unset !important;
    align-self: self-start;
    &::before {
      content: '';
    }
  }
  .btn-calendar {
    --v-btn-height: 26px;
    &.v-btn.v-btn--density-compact {
      height: var(--v-btn-height);
    }
  }
  .text {
    font-weight: 500;
    font-size: toRem(18);
    color: #ccc;
  }
}

.calendar-head {
  text-align: center;
  .container {
    display: inline-grid;
    grid-template-columns: toRem(24) 1fr toRem(24);
    align-items: center;
    line-height: toRem(26);
  }
  .btn {
    width: toRem(20);
    .v-btn__content {
      .v-icon::before {
        font-size: toRem(32);
        color: $black;
      }
    }
    &.v-btn--size-default {
      padding: 0;
    }
  }
}
.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: [row1]toRem(28) repeat(5, 1fr);
  height: toRem(298);
  text-align: center;
  .weekday {
    font-size: toRem(13);
    color: #666;
    line-height: 20px;
  }
  .days {
    display: grid;
    grid-template-rows: 1fr toRem(16);
    height: 100%;
    .text {
      align-self: center;
      @include fontWeight(semibold);
      color: $black;
      // height: calc(100% - toRem(16));
    }
    .state {
      display: inline-flex;
      justify-content: center;
      .v-avatar {
        &:not(:only-child) {
          margin-inline-start: 3px;
        }
        &:not(:last-child) {
          margin-inline-end: 3px;
        }
      }
    }
  }
}
.calendar-info {
  display: flex;
  justify-content: end;
  align-items: start;
  height: 44px;
  font-size: toRem(13);
  color: #666;
  margin-inline: $contentsPaddingN;
  padding-inline: $contentsPadding;
  border-bottom: 1px solid #eee;
  .state {
    display: grid;
    grid-template-columns: toRem(16) auto;
    align-items: center;
    .v-avatar {
      margin-inline: auto;
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.switch-area {
  display: grid;
  grid-template-columns: auto toRem(56);
  align-items: center;
}

.btn-sorting {
  &.v-btn {
    &.v-btn--selected {
      @include fontWeight(semibold);
      background-color: #f3f7ff;
      color: $black;
    }
  }
}

.btn-month {
  &.v-btn {
    --v-btn-height: 24px;
    .v-btn__content {
      font-size: toRem(24);
      line-height: toRem(24);
      @include fontWeight(semibold);
      .v-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.border-top {
  border-top: 1px solid #666;
}

// 설문
.servey-wrap {
  min-height: 100dvh;
  .survey-header {
    position: relative;
  }
  .survey-content {
    min-height: calc(100% - 132px);
    margin: toRem(32) $contentsPadding;
    // padding: toRem(32) 0;
  }
  .header-info {
    padding: 0 $contentsPadding toRem(24);
    background-color: #fff;
  }
  .page-count {
    text-align: center;
    padding-bottom: toRem(16);
    color: #888;
    .font-weight-bold {
      color: $black;
    }
  }
  .btn-page {
    position: absolute;
    top: 0;
    color: #ccc;
    &.prev {
      left: $contentsPadding;
    }
    &.next {
      right: $contentsPadding;
    }
    &.v-btn--icon.v-btn--density-compact {
      width: toRem(24);
      height: toRem(24);
    }
  }
  .isFixed {
    .btn-page {
      &.prev {
        left: $contentsPadding;
      }
      &.next {
        right: $contentsPadding;
      }
    }
    .paging-progress {
      margin-bottom: 0;
    }
  }
  .swiper {
    padding: 0 toRem(24);
  }
  .swiper-slide-active {
    width: calc(100% - toRem(8)) !important;
  }
  .swiper-slide-next {
    opacity: 0.5;
  }
  .swiper-slide-prev {
    opacity: 0;
  }
  .swiper-slide {
    &:last-child {
      &.swiper-slide-active {
        width: 100% !important;
      }
    }
  }

  &.type-2 {
    min-height: 100%;
    background-color: #3b4a65;
    padding-bottom: 60px;
    .isFixed {
      background-color: #3b4a65;
    }
    .header-info {
      position: relative;
      background-color: transparent;
      padding-block: 0;
      .tooltip-box {
        top: toRem(8);
        left: toRem(24);
        right: toRem(24);
        z-index: 20;
      }
      .btn-area {
        position: relative;
        color: #fff;
        padding-bottom: toRem(16);
      }
    }
    .survey-content {
      min-height: auto;
      padding: toRem(32) toRem(28);
      margin: 0;
    }
    .paging-progress {
      margin: 0 $contentsPaddingN;
    }

    .paging-number {
      display: grid;
      align-items: center;
      font-size: toRem(20);
      line-height: toRem(28);
      height: toRem(34);
      text-align: center;
      @include fontWeight(semibold);
    }
    .btn-page {
      position: absolute;
      top: 0;
      width: toRem(34);
      height: toRem(34);
      margin-top: 0;
      &.swiper-button-disabled {
        display: none;
      }
      // &.swiper-button-next {
      //   right: toRem(32);
      // }
      // &.swiper-button-prev {
      //   left: toRem(24);
      // }
      &::after {
        display: none;
      }
    }
    .page-count {
      display: flex;
      justify-content: flex-end;
      font-size: toRem(14);
      color: #fff;
      line-height: toRem(24);
      padding-block: toRem(2) toRem(30);
      padding-inline: toRem(16);
      .current {
        @extend .text-yellow;
        padding-right: toRem(4);
      }
    }
    .question {
      margin-bottom: 0;
    }
    .quest-item .text.wrap .v-divider {
      border-width: 2px 0 0 0;
    }
    .radio-answer-group
      :not(
        .v-selection-control--inline
      ).v-radio.v-selection-control--density-default {
      --v-selection-control-size: auto;
      flex: 1 0;
    }
    .default-progress {
      .v-progress-linear__background {
        background-color: #212a3b;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03) inset;
      }
    }
  }
}
.default-progress {
  .v-progress-linear__background {
    background: #f8f8f8;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03) inset;
    opacity: 1;
  }
  .v-progress-linear__determinate {
    background: #ffd633;
    border-radius: 0 16px 16px 0;
  }
  &.v-slider {
    --v-theme-surface-variant: 238, 238, 238;
    color: $black;
    &.v-input--horizontal {
      .v-slider-thumb {
        left: calc(var(--v-slider-thumb-position) - 4px / 2);
      }
    }
    .v-slider-track__background--opacity {
      opacity: 1;
    }
    .v-slider-thumb__surface {
      --v-theme-surface-variant: 38, 40, 44;
      --v-slider-thumb-size: 8px;
      color: $black;
    }
    .v-slider-thumb__label {
      background: $black;
      border-radius: 16px;
      color: #fff;
      padding: 0 14px;
      transform: translateX(-65%) !important;
      &::before {
        color: $black;
      }
    }
    .v-slider-track__fill {
      height: 4px;
      background-color: #ffd633;
    }
    &.type-2 {
      &.v-slider.v-input--horizontal .v-slider-thumb {
        left: calc(
          var(--v-slider-thumb-position) - var(--v-slider-thumb-size) / 2
        );
      }
      .v-slider-track {
        --v-slider-track-size: 0.75rem !important;
        border-radius: 24px;
      }
      .v-slider-thumb__surface {
        color: #fff;
      }
      .v-slider-thumb__label {
        font-family: var(--font-secondary);
        font-size: toRem(14);
        padding: 0;
        @include fontWeight(bold);
        width: toRem(58);
        line-height: toRem(24);
      }
      &.off {
        .v-slider-thumb__label {
          margin-left: toRem(22);
          &::before {
            margin-left: toRem(-15);
          }
        }
        .v-slider-thumb__surface {
          margin-left: toRem(12);
        }
      }
      &.on {
        .v-slider-thumb__label {
          margin-left: toRem(-10);
          &::before {
            margin-left: toRem(22);
          }
        }
      }
    }
  }
}

.question {
  margin-bottom: toRem(32);
}
.quest-num {
  font-size: toRem(18);
  @include fontWeight(semibold);
  color: #666;
  margin-bottom: toRem(6);
}
.quest-item {
  position: relative;
  margin-block-end: toRem(16);
  .text {
    font-family: var(--font-secondary);
    font-size: toRem(20);
    @include fontWeight(bold);
    line-height: toRem(28);
    &.wrap {
      display: flex;
      align-items: baseline;
      .text-1 {
        white-space: nowrap;
      }
      .v-divider {
        --v-border-opacity: 1;
        border-width: 1px 0 0 0;
        margin: -4px 8px 0;
      }
    }
  }
}

.tooltip-type2 {
  padding-left: 2px;
  .btn-text {
    align-items: baseline;
    .v-btn__append .v-icon {
      display: unset;
      width: auto;
      vertical-align: bottom;
      color: #aab0b8;
      &::before {
        content: '';
        width: 20px;
        height: 19px;
        @include bgimg('icon-question');
        background-position: left bottom;
      }
    }
  }
  .tooltip-box {
    top: 100%;
    text-align: left;
    margin-top: 0;
    z-index: 15;
  }
  &.vl-center {
    .btn-text {
      align-items: center;
      .v-btn__append .v-icon {
        vertical-align: top;
      }
    }
  }
}
.tooltip-check {
  width: toRem(58);
  font-family: var(--font-secondary);
  padding-inline: 0;
  justify-content: center;
}

.v-divider {
  &.line-dashed {
    border-style: dashed;
  }
}

.textfield-half {
  display: grid;
  grid-template-columns: 1fr 19px 1fr;
  .unit {
    font-size: 18px;
    text-align: center;
    align-self: end;
  }
}

.survey-thumb {
  position: relative;
  display: grid;
  gap: 24px 9px;
  .v-card {
    --v-theme-surface: 248, 248, 248;
    border: 1px solid transparent;
    padding: 0;
    img {
      width: 100%;
      object-fit: contain;
      // width: 100%;
    }
  }
  .v-card--variant-outlined {
    border-width: 2px;
    border-color: currentColor;
  }
  .tooltip-box {
    text-align: left;
  }
  &.column-3 {
    grid-template-columns: repeat(3, 1fr);
    .card-wrap {
      &:nth-of-type(3n + 1) {
        .tooltip-box {
          left: 0;
          right: -60vw;
        }
      }
      &:nth-of-type(3n + 2) {
        .tooltip-box {
          left: -30vw;
          right: -30vw;
        }
      }
      &:nth-of-type(3n + 3) {
        .tooltip-box {
          left: -60vw;
          right: 0;
          // right: -60vw;
        }
      }
    }
  }
  &.column-2 {
    grid-template-columns: repeat(2, 1fr);
    .card-wrap {
      &:nth-of-type(2n + 1) {
        .tooltip-box {
          left: 0;
          right: -45vw;
        }
      }
      &:nth-of-type(2n + 2) {
        .tooltip-box {
          left: -45vw;
          right: 0;
        }
      }
    }
  }
}

.sub-question {
  margin-block-start: toRem(32);
}

.answer-items {
  .btn-search.v-btn--variant-outlined {
    border-width: 1px;
    box-shadow: none;
  }
  .checked-agree.checked-all .v-checkbox-btn {
    padding-right: 0;
  }
}
.modal-body {
  .answer-items {
    text-align: center;
    img {
      vertical-align: top;
    }
  }
  .text-point.type-1 {
    margin-block: toRem(16) toRem(10);
  }
}
.v-dialog.modal-dialog .v-card-actions button {
  &.btn-close {
    flex: 0 1 auto;
    width: toRem(40);
    height: toRem(40);
    border-radius: 50%;
  }
}

.accordion-list {
  li {
    border-bottom: 1px solid #eee;
    .title {
      display: grid;
      grid-template-columns: 1fr toRem(30);
      grid-template-rows: toRem(56);
      align-items: center;
      @include fontWeight(semibold);
      .v-icon {
        justify-self: end;
      }
    }
  }
  .text {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(8) toRem(24);
    padding: 0 toRem(30) toRem(16) 0;
    color: #444;
  }
  .v-expansion-panel {
    --v-activated-opacity: 0;
    --v-theme-overlay-multiplier: 0;
    --v-border-opacity: 1;
    --v-border-color: 238, 238, 238;
    border-radius: 0 !important;
    .v-expansion-panel__shadow {
      box-shadow: none;
    }
    .v-expansion-panel-title {
      min-height: auto;
      height: toRem(56);
      padding: toRem(16) 0;
      color: #26282c;
    }
    // &.v-expansion-panel--active {
    //   border-bottom: 1px solid #eee;
    // }
  }
  .v-expansion-panel--active:not(:first-child),
  .v-expansion-panel--active + .v-expansion-panel {
    margin-top: 0;
  }
  .v-expansion-panel-text__wrapper {
    display: flex;
    max-width: 100%;
    padding: 0 !important;
  }
  .v-expansion-panel--active:not(:first-child)::after,
  .v-expansion-panel--active + .v-expansion-panel::after {
    opacity: 1;
  }
}

.news-top-img {
  margin-inline: $contentsPaddingN;
  img {
    width: 100%;
    vertical-align: top;
  }
}

.news-area {
  font-size: toRem(16);
  margin-block: 32px;
  img {
    display: flex;
    width: calc(100% + 3rem);
    margin-inline: $contentsPaddingN;
  }
  .text {
    padding: 8px $contentsPadding 0;
  }
}
.introduce-area {
  .header {
    display: grid;
    grid-template-columns: toRem(52) 1fr;
    gap: 0 toRem(12);
    align-items: center;
    margin-bottom: toRem(4);
    .title {
      display: flex;
      align-items: center;
      column-gap: 4px;
      font-size: toRem(16);
      @include fontWeight(semibold);
      line-height: toRem(26);
      margin-bottom: 2px;
    }
    .v-avatar {
      outline: 1px solid rgba(0, 0, 0, 0.1);
    }
    &.box-rounded {
      direction: rtl;
      text-align: left;
      padding: toRem(16);
      width: 100%;
      padding: toRem(14) toRem(16);
      border: 0;
      .title-area {
        width: 100%;
        overflow: hidden;
      }
      .tit-02 {
        display: flex;
        direction: ltr;
        font-size: toRem(16);
        .text {
          display: inline-block;
          @include textOverflow;
        }
        & + p {
          direction: ltr;
        }
      }
    }
  }
  .healtip {
    .text {
      font-size: toRem(14);
      padding-top: toRem(12);
    }
  }
  .healtip-img {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  .v-avatar {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.news-list {
  &.type-2 {
    .news-item {
      grid-template-columns: 1fr toRem(90);
      align-items: center;
    }
    .news-title {
      @include fontWeight(400);
    }
    .news-img {
      height: toRem(60);
      border-radius: 8px;
    }
  }
}

.quize-time {
  .tit-03 {
    padding-bottom: toRem(24);
  }
  .text {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  .tooltip-balloon::after {
    z-index: 1;
  }
}
.quize-layout {
  word-break: keep-all;
  &.type-2 {
    text-align: center;
    padding: 0 $contentsPadding;
  }
  .btn-area {
    display: flex;
    gap: 8px;
    .v-btn {
      flex: 1;
      height: toRem(50);
    }
  }
}
.btn-answer-group {
  width: 100%;
  gap: 8px;
  .v-btn {
    flex: 1;
    background-position: center !important;
    &.btn-o {
      @include bgimg('answer-o');
      background-color: #eb5147;
    }
    &.btn-x {
      @include bgimg('answer-x');
      background-color: #3f86f1;
    }
    &.wrong-answer {
      background-color: #fff !important;
      &.btn-o {
        @include bgimg('answer-o2');
      }
      &.btn-x {
        @include bgimg('answer-x2');
      }
    }
  }
}

.overlay-container {
  position: absolute;
  top: -32px;
  bottom: -32px;
  left: $contentsPaddingN;
  right: $contentsPaddingN;
  .scrim {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }
  .body {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.news-label {
  display: grid;
  grid-template-columns: 1fr toRem(48);
}

.news-review-box {
  &.v-card {
    position: relative;
    padding-block-start: toRem(12);
    & * {
      color: #fff;
    }
    .v-card-title {
      display: flex;
      align-items: center;
      font-size: toRem(18);
      line-height: toRem(26);
      background-color: #3b4a65;
      padding: toRem(16);
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
    .v-card-text {
      background-color: #3b4a65;
      font-size: toRem(14);
      line-height: toRem(20);
      color: #fff;
      padding: 0 toRem(16) toRem(16);
    }
    &::before {
      content: '';
      position: absolute;
      top: toRem(2);
      left: toRem(16);
      width: toRem(17);
      height: toRem(17);
      @include bgimg('icon-arrow-up');
    }
  }
}

.btn-flat-top {
  &.v-btn {
    position: fixed;
    right: $contentsPadding;
    bottom: $contentsPadding;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
  }
  &.v-btn--size-default {
    --v-btn-height: 48px;
  }
  &.v-btn--icon.v-btn--density-default {
    width: calc(var(--v-btn-height));
    height: calc(var(--v-btn-height));
  }
}

// 건강 > 건강뉴스 목록
.news-btn {
  display: flex;
  gap: 0 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #26282c;
  .text-category {
    &::after {
      margin-left: 8px;
      margin-bottom: 1px;
      vertical-align: middle;
      display: inline-block;
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #26282c;
    }
  }
}
.text-date {
  &.news-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 toRem(6);
    font-size: toRem(16);
    @include fontWeight(normal);
    color: #26282c;
  }
}
.total {
  margin: 0 toRem(-24);
  padding: toRem(20) toRem(24);
  background-color: #f8f8f8;
  font-size: toRem(14);
  color: #26282c;
  line-height: toRem(20);
}
.news-item {
  display: grid;
  grid-column-gap: toRem(16);
  grid-template-columns: 1fr toRem(120);
  border-bottom: 1px solid #eee;
  padding-bottom: toRem(16);
  &:last-child {
    border-bottom: none;
  }
}
.news-title {
  @include fontWeight(semibold);
  color: #26282c;
}
.news-img {
  position: relative;
  width: 100%;
  height: toRem(80);
  &:not(.type2) {
    border-radius: toRem(16);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #000;
    opacity: 10%;
    border-radius: inherit;
  }
}
.keywordWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: toRem(8);
}
.news-keyword {
  padding: toRem(6) toRem(10);
  border-radius: 50px;
  background-color: #f2f4fa;
  font-size: toRem(14);
  line-height: toRem(20);
  color: #444;
}
.news-nodata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text {
    color: #666;
  }
}
// 건강뉴스 > 건강뉴스 검색
.keyword-title {
  font-size: toRem(18);
  @include fontWeight(semibold);
  line-height: toRem(26);
}

.sticky-area {
  .subTit-01 {
    @include textOverflow($linetype: 3);
  }
  .paging-progress {
    display: none;
    // margin-inline: $contentsPaddingN;
  }

  &.isFixed {
    animation-duration: 0.5s;
    animation: fadeInDown 0.25s ease-in-out;
    .subTit-01 {
      font-family: var(--font-primary);
      font-size: toRem(16);
      line-height: toRem(24);
      @include textOverflow($linetype: 1);
      padding-inline: $contentsPadding;
      padding-block: toRem(10);
      display: block !important;
    }
    .paging-progress {
      display: block;
    }
  }
}

.bar-heart-graph {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: toRem(38) toRem(20);
  container-type: inline-size;
  .tooltip-area {
    grid-area: 1 / 1/ 2 / 7;
    position: relative;
  }
  .tooltip-balloon {
    position: absolute;
    background-color: #222;
    &::after {
      bottom: -0.1875rem;
      transform: rotate(35deg) skewY(20deg);
    }
    &.arrow-1 {
      &::after {
        left: 8%;
      }
    }
    &.arrow-2 {
      &::after {
        left: calc((100% / 6) * 2);
      }
    }
    &.arrow-3 {
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      &::after {
        left: calc(50% - toRem(33));
      }
    }
    &.arrow-4 {
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      &::after {
        left: calc(50% + toRem(20));
      }
    }
    &.arrow-5 {
      right: 0;
      &::after {
        right: calc((100% / 6) * 2);
      }
    }
    &.arrow-6 {
      right: 0;
      &::after {
        right: 8%;
      }
    }
  }
  .bar {
    &-1 {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
    &-6 {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
}

$colors: (
  1: #a3afbf,
  2: #eb5147,
  3: #f85c1b,
  4: #ffd23f,
  5: #58cf3b,
  6: #00bc70
);
@each $name, $color in $colors {
  .bar-heart-graph {
    .bar-#{$name} {
      background-color: $color;
    }
  }
  .v-avatar {
    &.step-#{$name} {
      background-color: $color;
    }
  }
}

.report-heart-area {
  .box-rounded {
    padding: toRem(16);
  }
  .btn-search {
    border: 0;
    padding: 0;
  }
  & > .tooltip > .tooltip-area > .btn-text .v-btn__append {
    margin-inline-start: toRem(8);
  }
}
.list-heart {
  li {
    padding-block: toRem(16) toRem(32);
    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
  .tit {
    display: flex;
    align-items: center;
    font-size: toRem(16);
    @include fontWeight(bold);
    padding-block-end: toRem(8);
  }
  .v-avatar {
    margin-inline-end: 4px;
  }
}
.dl-heart {
  display: grid;
  grid-template-columns: repeat(2, toRem(35) 1fr);
  gap: 0 toRem(8);
  font-size: toRem(14);
  dt {
    border-radius: 4px;
    background-color: #eee;
    font-size: toRem(13);
    color: #888;
    text-align: center;
  }
}

.comp-area {
  margin-inline: $contentsPaddingN;
  img {
    vertical-align: top;
  }
}
.chart-sleep-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  @include fontWeight(semibold);
  color: #444;
  line-height: toRem(26);
  margin-top: toRem(-26);
}
.dl-sleep {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  dt {
    font-size: toRem(13);
    color: #444;
    line-height: toRem(20);
  }
  dd {
    @include fontWeight(semibold);
    font-size: toRem(20);
    line-height: toRem(28);
    margin-top: toRem(4);
  }
  .v-divider--vertical {
    --v-border-opacity: 1;
    border-color: #eee;
    margin-block: toRem(12);
  }
}

.grid-column-2 {
  display: grid;
  grid-template-columns: 1fr toRem(143);
  align-items: center;
  padding: 0 !important;
  margin-top: 0 !important;
  .text {
    text-align: left;
  }
}

.overflow-visible {
  overflow: visible;
}

.tit-03.tooltip {
  .v-btn__content {
    @include fontWeight(semibold);
    font-size: toRem(20);
  }
  .v-icon {
    color: #888;
  }
}

.mw-auto {
  min-width: auto !important;
}

.btn-search.no-border {
  border: 0;
}

.list-column-3 {
  display: grid;
  grid-template-columns: auto 2.3125rem auto 2.3125rem auto;
  align-items: center;
  img {
    vertical-align: top;
  }
  .v-divider--vertical {
    --v-border-opacity: 1;
    border-color: #eee;
    margin-block: 1rem 0.625rem;
    margin-inline: 1.125rem;
  }
}

.text-complete {
  color: #3f86f1;
}
.text-incomplete {
  color: #ff862f;
}

.font-secondary {
  @include fontWeight(bold);
  font-family: var(--font-secondary);
}
.date-range {
  font-size: toRem(26);
  line-height: toRem(34);
}

.item-grid {
  display: grid;
  grid-template-columns: toRem(28) 1fr toRem(60);
  align-items: center;
  font-size: toRem(16);
  padding-block: toRem(8);
  .v-avatar.v-avatar--size-default {
    --v-avatar-height: 1.75rem;
  }
  .v-chip.chip-default {
    width: toRem(46);
    background-color: rgba(102, 102, 102, 0.06);
    color: #888;
    justify-content: center;
    padding-inline: 0;
  }
}

.health-result {
  .title-area {
    display: grid;
    grid-template-columns: 1fr toRem(100);
    align-items: center;
  }
  .left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .v-divider--vertical {
      margin-block: 5px;
      margin-inline: 8px;
    }
  }
  .text {
    word-break: break-word;
  }
  .date {
    font-size: toRem(13);
    justify-self: end;
  }
  .box-grey {
    border-radius: 16px;
    background-color: var(--v-theme-gray-1);
    text-align: center;
    padding: toRem(10) toRem(16);
  }
  .box-fill {
    border-radius: 46px;
    background-color: #eef9ff;
    text-align: center;
    padding: toRem(10) toRem(16);
    margin-bottom: toRem(20);
    color: #666;
    .text {
      line-height: toRem(20);
    }
  }
  .box-rounded {
    .title-area {
      display: flex;
      align-items: center;
      line-height: toRem(26);
      @include fontWeight(semibold);
      $size: toRem(20);
      .v-icon {
        width: $size;
        height: $size;
        margin-top: toRem(-2);
      }
    }
  }
  .chip-area {
    display: flex;
    column-gap: toRem(8);
    justify-content: center;
    margin-block: toRem(16);
  }
  .text-result {
    @include fontWeight(bold);
    font-family: var(--font-secondary);
    font-size: toRem(20);
    color: $black;
    line-height: toRem(28);
    margin: 0 auto;
  }
  .chip-title {
    --v-chip-height: auto !important;
    --v-activated-opacity: 0 !important;
    font-size: toRem(16);
    color: $white;
    line-height: toRem(24);
    padding: toRem(6) toRem(12) !important;
    background-color: #303d54;
  }
  .banner-coding {
    > .v-btn {
      .v-btn__content {
        padding: toRem(16) toRem(20);
      }
      .txbox {
        .title {
          @include fontWeight(semibold);
          color: #7d3fb0;
          line-height: toRem(26);
        }
        .text-grey {
          margin-top: toRem(2);
          line-height: toRem(20);
        }
      }
    }
  }
}
.result-info {
  border-top: 1px solid #eee;
  padding-top: 12px;
  .date-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      $size: toRem(24);
      width: $size;
      height: $size;
    }
    .date {
      display: flex;
      align-items: center;
      font-size: toRem(14);
      color: #666;
      .text {
        margin-left: 4px;
      }
    }
  }
}
.age-card {
  border-radius: 16px;
  background-color: #fffae7;
  padding: toRem(13) 0;
  display: flex;
  justify-content: center;
  color: #60584c;
  position: relative;
  .section {
    width: calc(50% - 1px);
    text-align: center;
  }
  dl {
    display: inline-flex;
    flex-direction: column;
    dt {
      font-size: toRem(14);
      line-height: toRem(24);
    }
    dd {
      @include fontWeight(semibold);
      font-size: toRem(18);
      line-height: toRem(26);
    }
  }
  .v-btn,
  .v-icon {
    color: inherit;
  }
  .v-divider--vertical {
    border-width: 1px 1px 0 0;
    border-style: solid;
    color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    margin-block: toRem(5);
    align-items: center;
  }
  .tooltip-box {
    text-align: left;
  }
}

.grid-box {
  grid-template-rows: 1fr;
  gap: toRem(12);
  .box-rounded {
    height: 100%;
  }
  .title-area {
    margin-bottom: toRem(8);
    line-height: toRem(26);
  }
  .fs-14 {
    line-height: toRem(20);
  }
}

.health-box01 {
  // height: toRem(225);
  .v-card-text {
    // height: toRem(170);
    overflow-y: auto;
  }
}

.health-box02 {
  // height: toRem(141);
  .v-card-text {
    // height: toRem(81);
    overflow-y: auto;
  }
}

.most-face {
  @include icon-emoji-emotion;
  width: toRem(64);
  height: toRem(64);
}

.card-test {
  &.v-card {
    padding: toRem(16);
    &.border-dashed {
      padding: toRem(24) toRem(16);
    }
  }
  .v-card-text {
    color: $black;
    padding: 0;
  }
  .no-data {
    .tit-01 {
      color: $black;
    }
    .text {
      padding-top: toRem(6);
    }
  }
  .v-card-actions {
    padding: 0;
    min-height: auto;
    & > .v-btn {
      width: 100%;
      &.btn-submit {
        background-color: #fceba6;
        color: #444;
      }
      &.btn-reset {
        background-color: #f3f7ff;
        color: #666;
      }
    }
  }
}

.banner-coding {
  > .v-btn {
    &[data-case='book'] {
      background-color: #eef6ff;
      figure {
        @include bgimg('icon-book');
      }
    }
    &[data-case='book2'] {
      background-color: #f6ddff;
      figure {
        @include bgimg('icon-book2');
      }
    }
  }
}

.bside-area.type-2 {
  background-color: #f8f8f8;
  margin-inline: $contentsPaddingN;
  padding: toRem(24) toRem(18);
  .v-btn {
    &.btn-map {
      height: auto;
      &::after {
        border: none !important;
      }
    }
    .v-btn__content {
      font-size: toRem(16);
      line-height: toRem(23);
      @include fontWeight(400);
    }
  }
}

.weather-list {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: toRem(16);
  .item {
    position: relative;
    font-size: toRem(16);
    .tit {
      font-size: toRem(13);
      margin-right: toRem(8);
    }
  }
  &.type-2 {
    .item {
      display: grid;
      grid-template-columns: 1fr toRem(60);
      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }
}

.graph-date {
  & + .font-weight-bold {
    color: #444;
  }
}

.report-tit {
  &.tit-03 {
    line-height: toRem(28);
    color: #222;
  }
}

.card-food {
  padding: toRem(16);
  margin-top: 16px;
  .chip-area {
    display: flex;
    align-items: center;
    .tit {
      font-size: toRem(13);
      margin-left: toRem(8);
    }
  }
}

.food-menu-list {
  .swiper.card-swiper {
    margin-top: 0;
    padding-bottom: toRem(22);
  }
}
.dl-table {
  .content {
    font-size: toRem(14);
    line-height: toRem(20);
  }
  .calories {
    @include fontWeight(semibold);
    font-size: toRem(16);
    @extend .text-blue;
  }
  &.details {
    grid-template-columns: 1fr;
    gap: toRem(8) 0;
    .content {
      border-radius: 16px;
      background-color: #f8f8f8;
      color: #444;
      padding: toRem(10);
    }
  }
}

.img-container {
  position: relative;
  margin-top: toRem(8);
  .v-carousel {
    height: auto !important;
  }
  .v-window__container {
    position: relative;
    height: toRem(150) !important;
    border-radius: 8px;
    overflow: hidden;
    .counter {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      font-size: toRem(14);
      line-height: toRem(20);
      border-radius: 0px 8px 0px 8px;
      padding: toRem(4) toRem(10);
    }
  }
  .v-carousel-item {
    & > .v-img {
      border-radius: toRem(8);
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  .v-carousel__controls {
    position: relative;
    background: transparent;
    height: auto;
    padding-block: toRem(16);
    gap: 0 toRem(6);
    .v-btn {
      &.v-btn--density-default {
        width: toRem(6);
        height: toRem(6);
        background-color: #ccc;
      }
      &.v-btn--active {
        width: toRem(20);
        background-color: #444;
        border-radius: 100px;
        .v-icon {
          width: toRem(15);
        }
      }
      .v-icon {
        width: toRem(6);
        height: toRem(6);
        &::before {
          display: none;
        }
      }
    }
  }
}
.img-calendar {
  width: toRem(94);
  height: toRem(95);
  img {
    width: 100%;
  }
}

.icon-platform {
  $size: 58px;
  width: $size;
  height: $size;
}

.food-photo {
  height: toRem(278);
  background-color: #f8f8f8;
  @include bgimg('icon-food-nodata2', $format: 'png');
  background-size: toRem(140);
  background-position: 50% toRem(50);
  margin: 0 toRem(-24);
  .v-responsive {
    height: 100%;
  }
  .no-data {
    padding-top: toRem(197);
    padding-inline: toRem(24);
  }
}

.radio-answer-group {
  .food-wrap {
    width: 100%;
  }
}

.medi-timeline.v-timeline--vertical.v-timeline {
  &.preg {
    .v-timeline-item {
      .v-timeline-item__body {
        padding-inline-start: toRem(16);
        .v-expansion-panels {
          padding-top: toRem(4);
        }
      }
      &:last-child .v-timeline-divider__after {
        display: block !important;
        &::after {
          content: '';
          position: absolute;
          top: calc(100% - toRem(9));
          left: toRem(-4);
          width: toRem(9);
          height: toRem(9);
          border-radius: 50%;
          background-color: #ccc;
        }
      }
    }
    .v-timeline-divider__after {
      height: calc(100% - 16px) !important;
    }
    .v-timeline-divider__dot--size-default {
      width: toRem(32);
      height: toRem(32);
    }
    .v-timeline-divider__inner-dot {
      .v-icon {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
    }
    @for $i from 1 through 40 {
      .baby-#{$i} {
        .v-icon {
          @include bgimg('icon-baby-#{$i}', $format: 'png');
        }
        .icon-weeks {
          display: inline-block;
          @include bgimg('baby-card-#{$i}', $format: 'png');
        }
      }
    }
    .title-wrap {
      display: grid;
      width: 100%;
      text-align: left;
    }
    .box-info {
      width: calc(100% + toRem(16));
      @include fontWeight(400);
      .v-card-text {
        display: grid;
        grid-template-columns: toRem(32) 1fr;
        padding: 0;
        font-size: toRem(16);
        line-height: toRem(24);
      }
      .icon-weeks {
        width: toRem(32);
        height: toRem(32);
        background-position: center;
        background-size: cover;
      }
      .text {
        padding-top: toRem(4);
        @extend .text-blue;
      }
    }
    .v-expansion-panel-title {
      align-items: flex-start;
    }
  }
  .medi-title {
    .time {
      @include fontWeight(400);
      color: #666;
    }
  }
  .v-card.card-rounded {
    box-shadow: none;
  }
}
